footer {
  padding-top: 115px;
  background: var(--color-bg-2);
}

.footer-container {
    width: 100%;
    align-items: center;
    justify-content: space-between;
  display: flex;
  grid-template-columns: repeat (4, 1fr);
  gap: 50px;
  padding: 50px;
}

.footer-container h4 {
  margin-bottom: 22px;
}

.param-Links li {
  margin-top: 10px;
}

.param-Links li a {
  color: var(--color-dark);
  text-transform: uppercase;
  font-size: 15px;
  transition: var(--transition);
}
